* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

head,
body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 11px;
    transition: all 0.75s ease;
}

.box {
    padding: 30px;
    border-radius: 11px;
    text-align: center;
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7), 2px 2px 10px rgba(0, 0, 0, 0.7);
    transition: all 0.75s ease;
}

.box:hover {
    scale: 1.05;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.7), 2px 2px 15px rgba(0, 0, 0, 0.7);

}

h1 {
    font-size: 50px;
    font-weight: 700;
    padding: 7px;
}

p {
    font-size: 25px;
    font-weight: 500;
    padding: 2px;
}

.btn {
    background-color: rgb(32, 85, 244);
    color: whitesmoke;
    padding: 7px 11px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7), 2px 2px 5px rgba(0, 0, 0, 0.7);
    transition: all 0.75s ease;
}

.btn:hover {
    scale: 1.05;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7), 2px 2px 10px rgba(0, 0, 0, 0.7);
    background-color: rgb(15, 58, 186);
}

button {
    margin: 11px 0px;
}