*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: black;
    color: white;
    font-family: sans-serif;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(25, 25, 25);
    padding: 1rem 1.5rem;
    gap: 11px;
    border-radius: 7px;
    transition: all 0.75s ease;
}

.input:hover{
    scale: 1.15;
}

.input input{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.5rem 1rem; 
    font-size: 21px;
    color: whitesmoke;
}

.input button{
    padding: 0.4rem 0.7rem;
    border: none;
    background-color: royalblue;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: all 0.75s ease;
}

.input button:hover {
    scale: 1.1;
    background-color: rgb(33, 67, 169);
}

.notes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: absolute;
    border-radius: 5px;
}